.pio
.piolibdeps
.vscode
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/*.db
.vscode/.browse.c_cpp.db*
pcb/__Previews
pcb/History
pcb/Project Logs for AutoReverse
pcb/Project Outputs for AutoReverse